# Web framework
flask==3.0.3
gunicorn==22.0.0

# ML / Deep Learning
tensorflow==2.15.1
numpy==1.26.4
scikit-learn==1.5.0
pandas==2.2.2

# GCP
google-cloud-storage==2.17.0
google-cloud-aiplatform==1.51.0

# MLOps pipeline (Vertex AI)
kfp==2.7.0
google-cloud-pipeline-components==2.13.1

# Utilities
python-dotenv==1.0.1
